# Container Image (Used by Docker Compose in production deployment)
# Example: ghcr.io/<owner>/wargakonek:latest or ghcr.io/<owner>/wargakonek:sha-xxxxxxx
APP_IMAGE=ghcr.io/your-username/wargakonek:latest

# Environment Mode (production / development)
NODE_ENV=production

# Server Port
PORT=3000
